---
import CheckIcon from "../../icons/checkIcon.astro";
import AtlasParagraph from "../../text/AtlasParagraph.astro";

interface Props {
  class?: string;
}

const { class: _class } = Astro.props;
---

<div class:list={["max-md:p-[--space-xs]", _class]}>
  <CheckIcon />

  <h3 class="atlas-heading-md mt-[--space-2xs]">
    <slot name="title" />
  </h3>
  <p class="atlas-text-sm text-gray-600 mt-[--space-2xs]">
    <slot name="body" />
  </p>
</div>
