---
import AtlasParagraph from "../../text/AtlasParagraph.astro";

interface Props {
  class?: string;
}

const { class: _class } = Astro.props;
---

<div class:list={["p-[--space-2xs]", _class]}>
  <div class="h-10 w-10 bg-red-100"></div>

  <h3 class="atlas-heading-sm mt-[--space-m]">Persoonlijke aandacht</h3>
  <AtlasParagraph class="mt-[--space-2xs]">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nulla atque
    similique, obcaecati cum perferendis! Facilis provident.
  </AtlasParagraph>
</div>
