---
interface Props {
  text: string;
  class?: string;
}

const { text, class: _class } = Astro.props;
---

<h5 class:list={["atlas-text", _class]}>{text}</h5>

<style>
  h5 {
    color: #5c687c;
  }
</style>
