---
interface Props {
  text: string;
  uri: string;
}

const { text, uri } = Astro.props;
---

<a class="inline-block atlas-text" href={uri} data-astro-prefetch>{text}</a>

<style>
  a {
    color: #0abf53;
    font-weight: 700;
    line-height: 26px;
  }
</style>
