---
interface Props {
  class?: string;
}

const { class: _class } = Astro.props;
---

<div
  class=`${_class} u-grid grid-cols-1 @[55rem]/main:grid-cols-2 gap-x-[--grid-gutter] items-start`
>
  <slot />
</div>
