---
interface Props {
  class?: string;
  backgroundColor?: string;
  height?: "full";
}

const { class: _class, backgroundColor, height } = Astro.props;
---

<div
  style=`background-color: ${backgroundColor};`
  class=`${ height === 'full' ? 'h-full' : '' }`
>
  <div class="@container/main max-w-[--grid-max-width] mx-auto relative h-full">
    <div class="mx-[--space-s] @[65rem]/main:mx-[--space-xl] h-full">
      <slot />
    </div>
  </div>
</div>
