---
interface Props {
  class?: string;
  backgroundColor?: string;
}

const { class: _class, backgroundColor } = Astro.props;
---

<div style=`background-color: ${backgroundColor};`>
  <div class="@container/main max-w-[--grid-max-width] mx-auto">
    <div class="mx-[--space-s] @[65rem]/main:mx-[--space-xl]">
      <slot />
    </div>
  </div>
</div>
