---
import PageSection from "../Layout/PageSection.astro";
import AtlasEyebrow from "../text/AtlasEyebrow.astro";
import AtlasParagraph from "../text/AtlasParagraph.astro";
---

<PageSection>
  <div
    class="flex flex-col @[48rem]/main:flex-row py-[--space-3xl] gap-[--grid-gutter] min-h-[36rem]"
  >
    <div class="basis-1/2 @[48rem]/main:shrink-0 overflow-hidden">
      <div class="h-[60cqw] @[48rem]/main:h-full w-full bg-red-50 rounded-xl">
      </div>
    </div>
    <div class="basis-1/2 px-[--space-xs] @[48rem]/main:px-0">
      <AtlasEyebrow text="Over mij" />
      <h2 class="atlas-heading-lg mt-[--space-s]">
        Hi, ik ben Arno van der Kleij
      </h2>
      <AtlasParagraph class="mt-[--space-s]"
        ><span>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
          explicabo odit a soluta voluptate perspiciatis numquam rem
          exercitationem blanditiis quisquam.</span
        >
        <span class="inline-block mt-[--space-xs]">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
          explicabo odit a soluta voluptate perspiciatis numquam rem
          exercitationem blanditiis quisquam.</span
        >

        <span class="inline-block mt-[--space-xs]">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
          explicabo odit a soluta voluptate perspiciatis numquam rem
          exercitationem blanditiis quisquam.</span
        >
      </AtlasParagraph>
      <!-- <AtlasLink1 text="Lees meer" uri="/about-me" /> -->
    </div>
  </div>
</PageSection>

<style>
  h5 {
    color: #5c687c;
  }
  .dd {
    border-top-width: 1px;
    border-style: solid;
    border-color: #8e8e8e2e;
  }
</style>
