---
import PageSection from "../Layout/PageSection.astro";
import AtlasLink1 from "../links/AtlasLink-1.astro";
import AtlasEyebrow from "../text/AtlasEyebrow.astro";
import AtlasParagraph from "../text/AtlasParagraph.astro";
---

<PageSection>
  <div
    class="flex flex-col @[44rem]/main:flex-row py-[--space-2xl] gap-y-[--grid-gutter] min-h-[36rem]"
  >
    <div
      class="basis-1/2 @[44rem]/main:shrink-0 p-[--space-2xs] overflow-hidden"
    >
      <div class="h-[60cqw] @[44rem]/main:h-full w-full bg-red-50 rounded-xl">
      </div>
    </div>
    <div class="basis-1/2 p-[--space-2xs] @[52rem]/main:ml-[--space-2xl]">
      <AtlasEyebrow text="Over mij" class="mb-[--space-2xs]" />
      <h2 class="atlas-heading-lg">Hi, ik ben Arno van der Kleij</h2>
      <AtlasParagraph class="py-[--space-s] mt-[--space-s]"
        ><span>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
          explicabo odit a soluta voluptate perspiciatis numquam rem
          exercitationem blanditiis quisquam.</span
        >
        <span class="inline-block mt-[--space-xs]">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
          explicabo odit a soluta voluptate perspiciatis numquam rem
          exercitationem blanditiis quisquam.</span
        >

        <span class="inline-block mt-[--space-xs]">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
          explicabo odit a soluta voluptate perspiciatis numquam rem
          exercitationem blanditiis quisquam.</span
        >
      </AtlasParagraph>
      <AtlasLink1 text="Lees meer" />
    </div>
  </div>
</PageSection>

<style>
  h5 {
    color: #5c687c;
  }
  .dd {
    border-top-width: 1px;
    border-style: solid;
    border-color: #8e8e8e2e;
  }
</style>
