---
import CtaButton from "../CtaButton.astro";
import ColumnLayout from "../Layout/ColumnLayout.astro";
import PageSection from "../Layout/PageSection.astro";
---

<div class="flex-grow">
  <PageSection height="full">
    <div class="pt-[--space-l] relative h-full pb-[--space-2xl]">
      <ColumnLayout>
        <div
          id="dd"
          class="flex flex-col grow shrink-0 basis-1/2 px-[--space-xs] @[55rem]/main:pr-0 self-center"
        >
          <h1
            class="font-5 mb-[--space-m] @[55rem]/main:mt-[--space-m]"
            style="color: white;"
          >
            Een Excel specialist nodig?
          </h1>
          <h2
            class="font-0 mb-[--space-m] @[60rem]/main:pr-[--space-xl]"
            style="color: rgb(237, 237, 237);"
          >
            Als ervaren Excel-expert help ik bedrijven hun processen te
            stroomlijnen met op maat gemaakte oplossingen, zoals
            geautomatiseerde rapportages, financiële analyses en efficiënt
            voorraadbeheer. Ik zet data om in bruikbare inzichten en bespaar
            jouw tijd.
          </h2>
          <div class="flex items-center gap-[--space-xs] flex-wrap">
            <CtaButton text="Neem contact op" link="/contact" />
            <CtaButton
              text="Lees meer"
              backgroundColor="--transparent"
              textColor="--headlineColor"
              padding={false}
            />
          </div>
        </div>
        <div
          class="flex-grow basis-1/2 self-center @[55rem]/main:pl-[--space-xl]"
        >
          <div
            class="h-[30rem] @[55rem]/main:h-[20rem] bg-[#e1efe6] opacity-50 rounded-xl"
          >
          </div>
        </div>
      </ColumnLayout>
    </div>
  </PageSection>
</div>

<script>
  const header = document.getElementById("dd") as HTMLElement;
  window.addEventListener("scroll", () => {
    let scrollPosition = document.documentElement.scrollTop;
    if (scrollPosition >= 200) {
      header.style.opacity = `${1 - (scrollPosition - 200) / 400}`;
    }
  });
</script>
