---
import PageSection from "../Layout/PageSection.astro";
import { Image } from "astro:assets";
import gridPng from "../../../public/bg.jpeg";
import gridPngSmall from "../../../public/bg-small.jpeg";
---

<div class="a relative">
  <Image
    class="absolute h-full w-full hidden md:inline-block object-cover"
    src={gridPng}
    alt="A bird sitting on a nest of eggs."
  />
  <Image
    class="absolute h-full w-full md:hidden object-cover"
    src={gridPngSmall}
    alt="A bird sitting on a nest of eggs."
  />
  <PageSection backgroundColor="linear-gradient(145deg, #013912, #024919 75%)">
    <div class="pt-[--space-3xl] pb-[--space-4xl]">
      <div class="flex flex-col md:flex-row">
        <div
          class="flex flex-col md:basis-3/5 items-center md:items-start text-center md:text-left"
        >
          <h1
            class="atlas-heading-lg font-semibold mt-0 text-white sm:max-w-[80%] md:max-w-full"
          >
            Een Excel specialist nodig?
          </h1>
          <p
            class="text-lg mt-[--space-m] pr-0 md:pr-[--space-2xl] text-gray-200 sm:max-w-[80%] md:max-w-full"
          >
            Transformeer uw data in krachtige inzichten en bespaar kostbare tijd
            met mijn op maat gemaakte Excel-oplossingen.
          </p>
          <div class="flex mt-[--space-m] items-center gap-2 flex-wrap">
            <a
              href="contact"
              class="bg-green-600 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-700 transition duration-300 cursor-pointer"
            >
              Start nu
            </a>
          </div>
          <p class="inline-block mt-[--space-xs] text-xs text-white">
            * Vrijblijvend contact en gratis eerste gesprek
          </p>
        </div>
        <!-- Afbeelding Sectie (Optioneel) -->
        <div class="md:basis-2/5 mt-8 md:mt-0 flex justify-center items-center">
          <!-- Voeg hier een afbeelding toe indien gewenst -->
          <img
            src="/images/excel-specialist.svg"
            alt="Excel Specialist"
            class="w-3/4 max-w-sm"
          />
        </div>
      </div>
    </div>
  </PageSection>
</div>
