---
import PageSection from "../Layout/PageSection.astro";
---

<PageSection>
  <div class="py-[--space-xl]">
    <div
      class="aa flex flex-col items-center w-full py-[--space-m] px-[--space-m] rounded-xl"
    >
      <h2 class="atlas-heading-lg inline-block md:max-w-[60%] text-center">
        Laten we aan de slag gaan!
      </h2>
      <a
        class="inline-block w-fit px-[--space-xs] py-[--space-2xs] font-semibold mt-[--space-s] rounded-lg"
        >Neem contact op</a
      >
    </div>
  </div>
</PageSection>

<style>
  .aa {
    background-color: #4d1727;
    color: white !important;
  }

  a {
    background-color: white;
    color: black;
  }
</style>
