---
import PageSection from "../Layout/PageSection.astro";
---

<PageSection backgroundColor="rgba(0,57,18,1)">
  <div class="pt-[--space-xl] pb-[--space-l]">
    <div
      class="aa flex flex-col items-center w-full py-[--space-m] px-[--space-m]"
    >
      <h2 class="atlas-heading-lg inline-block md:max-w-[60%] text-center">
        Laten we aan de slag gaan!
      </h2>
      <a
        href="contact"
        class="bg-green-600 mt-[--space-l] text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-700 transition duration-300"
      >
        Neem contact op
      </a>
    </div>
  </div>
</PageSection>

<style>
  .aa {
    color: white !important;
  }

  h2 {
    color: white !important;
  }
</style>
