---
import PageSection from "../Layout/PageSection.astro";
import AtlasEyebrow from "../text/AtlasEyebrow.astro";
import AtlasParagraph from "../text/AtlasParagraph.astro";
---

<PageSection>
  <div class="py-[--space-2xl] flex flex-col items-center">
    <AtlasEyebrow text="Diensten" class="mb-[--space-2xs]" />
    <h2 class="atlas-heading-lg max-w-[48rem] text-center">
      Haal meer uit uw bedrijf met op maat gemaakte Excel-oplossingen
    </h2>
    <AtlasParagraph
      class="mt-[--space-s] text-center max-w-[44rem] py-[--space-s]"
      >Elke onderneming kan profiteren van duidelijke en efficiënte
      Excel-oplossingen. Mijn missie is om ingewikkelde taken eenvoudig te
      maken, zodat u zich kunt focussen op wat echt telt.</AtlasParagraph
    >
  </div>
</PageSection>
