---
import Card from "../Card.astro";
import PageSection from "../Layout/PageSection.astro";
import AtlasParagraph from "../text/AtlasParagraph.astro";
---

<PageSection>
  <div class="pb-[--space-xl] pt-[--space-3xl] flex flex-col items-center">
    <!-- <AtlasEyebrow text="Diensten" class="mb-[--space-2xs]" /> -->
    <h2 class="atlas-heading-lg max-w-[48rem] text-center">
      Haal meer uit uw bedrijf met slimme Excel-oplossingen
    </h2>
    <AtlasParagraph
      class="mt-[--space-s] text-center max-w-[44rem] py-[--space-s]"
      >Elke onderneming kan profiteren van duidelijke en efficiënte
      Excel-oplossingen. Mijn missie is om ingewikkelde taken eenvoudig te
      maken, zodat u zich kunt focussen op wat echt telt.</AtlasParagraph
    >
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 w-full gap-[--space-l]"
    >
      <Card
        title="Geautomatiseerde Rapportages"
        body="Verlies geen tijd meer aan handmatige updates. Ik maak geautomatiseerde rapportages die real-time inzicht geven in uw prestaties. Zo kunt u snel en geïnformeerd beslissingen nemen op basis van actuele data."
      /><Card
        title="Voorraad- & Assetbeheer"
        body="Optimaliseer uw voorraadbeheer en houd uw assets nauwkeurig bij."
      />
      <Card
        title="Financiële Analyse"
        body="Krijg grip op uw financiën met professionele analyses. Ik help bij het opstellen van budgetten, forecasts en cashflow-analyses. Met mijn expertise neemt u weloverwogen financiële beslissingen die uw bedrijf vooruithelpen."
      /><Card
        title="Maatwerk Spreadsheet Ontwikkeling"
        body="Wilt u efficiënter werken en fouten verminderen? Ik ontwikkel op maat gemaakte Excel-spreadsheets die perfect aansluiten bij uw bedrijfsbehoeften. Met mijn oplossingen stroomlijnt u uw processen en bespaart u kostbare tijd."
      />
      <Card
        title="Excel Training & Workshops"
        body="Til uw Excel-vaardigheden naar een hoger niveau. Ik bied persoonlijke trainingen en interactieve workshops aan, afgestemd op uw kennisniveau. Ontdek nieuwe tips en trucs om efficiënter te werken en meer uit Excel te halen."
      />
    </div>
  </div>
</PageSection>
