---
import PageSection from "../Layout/PageSection.astro";
import AtlasParagraph from "../text/AtlasParagraph.astro";
---

<PageSection>
  <div class="pt-[--space-2xl] pb-[--space-xl]">
    <div class="flex flex-col items-center aa">
      <h2 class="atlas-heading-lg">Dit is hoe het werkt</h2>
      <div
        class="grid grid-rows-4 lg:grid-rows-1 lg:grid-cols-4 gap-8 w-full max-w-5xl mt-[--space-xl]"
      >
        <!-- Stap 1: Neem contact op -->
        <div class="flex flex-col items-center text-center">
          <img
            src="/icons/contact.svg"
            alt="Neem contact op"
            class="w-16 h-16 mb-4"
          />
          <h3 class="atlas-heading-sm mb-2">Neem contact op</h3>

          <AtlasParagraph class:list={"max-lg:max-w-[16rem]"}>
            Vul <a
              href="contact"
              class="inline-block font-semibold text-[#0abf53] cursor-pointer"
              >het contactformulier</a
            >
            om uw behoeften en doelen te bespreken.
          </AtlasParagraph>
        </div>

        <!-- Stap 2: Gratis intake -->
        <div class="flex flex-col items-center text-center">
          <img
            src="/icons/intake.svg"
            alt="Gratis intake"
            class="w-16 h-16 mb-4"
          />
          <h3 class="atlas-heading-sm mb-2">Gratis intake</h3>
          <AtlasParagraph class:list={"max-lg:max-w-[16rem]"}>
            Tijdens de intake bespreken we uw huidige situatie en de gewenste
            resultaten.
          </AtlasParagraph>
        </div>

        <!-- Stap 3: Voorstel op maat -->
        <div class="flex flex-col items-center text-center">
          <img
            src="/icons/proposal.svg"
            alt="Voorstel op maat"
            class="w-16 h-16 mb-4"
          />
          <h3 class="atlas-heading-sm mb-2">Voorstel op maat</h3>
          <AtlasParagraph class:list={"max-lg:max-w-[16rem]"}>
            Ik stel een gedetailleerd plan voor dat perfect aansluit bij uw
            bedrijfsbehoeften.
          </AtlasParagraph>
        </div>

        <!-- Stap 4: Implementatie en Optimalisatie -->
        <div class="flex flex-col items-center text-center">
          <img
            src="/icons/optimization.svg"
            alt="Implementatie en Optimalisatie"
            class="w-16 h-16 mb-4"
          />
          <h3 class="atlas-heading-sm mb-2">Uitwerken doelen</h3>
          <AtlasParagraph class:list={"max-lg:max-w-[16rem]"}>
            .....
          </AtlasParagraph>
        </div>
      </div>
    </div>
  </div>
</PageSection>

<style></style>
