---
import PageSection from "../../Layout/PageSection.astro";
import AtlasParagraph from "../../text/AtlasParagraph.astro";
---

<PageSection backgroundColor="#f6f9fc">
  <div class="pb-[--space-xl] pt-[--space-2xl] overflow-visible">
    <h2 class="atlas-heading-lg max-w-[48rem]">
      Benieuwd wat ik voor je kan betekenen?
    </h2>
    <AtlasParagraph class="mt-[--space-s] max-w-[44rem]"
      >Elke onderneming kan profiteren van duidelijke en efficiënte
      Excel-oplossingen. Mijn missie is om ingewikkelde taken eenvoudig te
      maken, zodat u zich kunt focussen op wat echt telt.</AtlasParagraph
    >
    <div
      class="mt-[--space-m] md:mt-[--space-2xl] grid grid-cols-3 gap-y-[--space-m] gap-x-[--space-s]"
    >
      <div>
        <div class="h-10 w-10 bg-red-100 mb-[--space-xs]"></div>
        <h3 class="font-0 font-bold mb-[--space-3xs]">Rapportages</h3>
        <p class="font--1 mb-[--space-xs] pr-[--space-m]">
          Creëer snel overzicht met automatische rapportages, zodat u altijd de
          juiste beslissingen neemt.
        </p>
        <a class="mb-[--space-xs] text_link block">Lees meer</a>
      </div>
      <div>
        <div class="h-10 w-10 bg-red-100 mb-[--space-xs]"></div>
        <h3 class="font-0 font-bold mb-[--space-3xs]">Boekhouding</h3>
        <p class="font--1 mb-[--space-xs] pr-[--space-m]">
          Optimaliseer uw voorraad met een dynamisch en betrouwbaar
          voorraadbeheersysteem.
        </p>
        <a class="mb-[--space-xs] text_link block">Lees meer</a>
      </div>
      <div>
        <div class="h-10 w-10 bg-red-100 mb-[--space-xs]"></div>
        <h3 class="font-0 font-bold mb-[--space-3xs]">Voorraadbeheer</h3>
        <p class="font--1 mb-[--space-xs] pr-[--space-m]">
          Automatiseer uw boekhoudprocessen en houd uw financiën feilloos bij.
        </p>
        <a class="mb-[--space-xs] text_link block">Lees meer</a>
      </div>
      <div>
        <div class="h-10 w-10 bg-red-100 mb-[--space-xs]"></div>
        <h3 class="font-0 font-bold mb-[--space-3xs] inline-block">
          Facturatie
        </h3>
        <p class="font--1 mb-[--space-xs] pr-[--space-m]">
          Beheer facturen sneller en eenvoudiger.
        </p>
        <a class="mb-[--space-xs] text_link block">Lees meer</a>
      </div>
      <div>
        <div class="h-10 w-10 bg-red-100 mb-[--space-xs]"></div>
        <h3 class="font-0 font-bold mb-[--space-3xs]">Offertes</h3>
        <p class="font--1 mb-[--space-xs] pr-[--space-m]">
          Stel snel professionele offertes op die indruk maken.
        </p>
        <a class="mb-[--space-xs] text_link block">Lees meer</a>
      </div>
      <div>
        <div class="h-10 w-10 bg-red-100 mb-[--space-xs]"></div>
        <h3 class="font-0 font-bold mb-[--space-3xs]">Urenregistratie</h3>
        <p class="font--1 mb-[--space-xs] pr-[--space-m]">
          Houd nauwkeurig de gewerkte uren bij en vereenvoudig uw tijdsbeheer.
        </p>
        <a class="mb-[--space-xs] text_link block">Lees meer</a>
      </div>
    </div>
  </div>
</PageSection>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
