---
interface Props {
  title: string;
  required?: boolean;
  class?: string;
}

const { class: _class, title, required = false } = Astro.props;
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const inputs = document.querySelectorAll("input");

    inputs.forEach((input) => {
      const label = input.previousElementSibling;

      input.addEventListener("input", () => {
        if (input.value) {
          input.classList.add("has-value");
        } else {
          input.classList.remove("has-value");
        }
      });

      input.addEventListener("focus", () => {
        label?.classList.add("shrink");
      });

      input.addEventListener("blur", () => {
        if (!input.value) {
          label?.classList.remove("shrink");
        }
      });
    });
  });
</script>

<div class={`${_class} relative`}>
  <label
    class="absolute left-[--space-2xs] top-[--space-2xs] bottom-[--space-2xs] flex items-center field transition-all duration-200 pointer-events-none"
  >
    {title}
    {required && <span class="text-red-500 inline-block scale-90">*</span>}
  </label>

  <input
    class="dd rounded-lg py-[--space-2xs] px-[--space-2xs] w-full min-h-[3.2em]"
  />
</div>

<style>
  /* Label Styling */
  .field {
    font-size: clamp(1rem, 0.9624rem + 0.1672vw, 1.125rem);
    line-height: clamp(
      1rem + 10px,
      0.9624rem + 0.1672vw + 10px,
      1.125rem + 10px
    );
    font-weight: 400;
    transition:
      transform 0.2s ease,
      font-size 0.2s ease;
    color: #5c687c;
  }

  /* Input Styling */
  .dd {
    border: 1px solid rgb(211, 211, 211);
  }

  /* Focused and Active Input Styling */
  input:focus {
    outline: none;
    border-color: rgb(20, 161, 67);
    border-width: 2px;
    padding-bottom: 0;
    padding-top: calc(var(--space-2xs) + var(--space-2xs));
  }

  input.has-value {
    padding-bottom: 0;
    padding-top: calc(var(--space-2xs) + var(--space-2xs));
  }

  /* Label Shrinking on Input Focus or Value */
  .shrink,
  input.has-value + .field {
    transform: translateY(-40%);
    font-size: 0.8rem;
  }
</style>
