---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Button text='Begin nu', size='sm'></Button>
	</main>
</Layout>

<style>

</style>
