---
import Layout from "../layouts/Layout.astro";
import AboveTheFold from "../components/sections/AboveTheFold.astro";
import Footer from "../components/sections/Footer.astro";
import AboutMe from "../components/sections/AboutMe.astro";
import MainNavigation from "../components/sections/mainNavigation/MainNavigation.astro";
import ContactForm from "../components/sections/ContactForm/ContactForm.astro";
import { AdvantagesSection } from "../components/sections/AdvantagesSection";
import Services from "../components/sections/Services.astro";
---

<Layout title="Welcome to Astro.">
  <div class="dd flex flex-col">
    <MainNavigation />
    <AboveTheFold />
  </div>
  <AboutMe />
  <Services />
  <AdvantagesSection />
  <ContactForm />
  <Footer />
</Layout>

<style>
  .mask {
    height: calc(100vh - var(--space-3xl));
  }
  .dd {
    background-color: #0f7c41;
    height: calc(100vh - var(--space-3xl));
  }
</style>
