---
import Layout from "../layouts/Layout.astro";
import AboveTheFold from "../components/AboveTheFold.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="header-placeholder"></div>
    <AboveTheFold />
  </main>
</Layout>

<style>
  .header-placeholder {
    height: 5rem;
  }
</style>
