#menu-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  transform: translateX(100%);
  opacity: 1;
  visibility: hidden;
  overflow-y: auto;
  transition:
    transform 0.3s ease-in,
    visibility 0s 0.3s;
}

#menu-content.open {
  transform: translateX(0);
  visibility: visible;
  transition:
    transform 0.3s ease-out,
    visibility 0s;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
}
