---
import PageSection from "./Layout/PageSection.astro";
import Tag from "./Tag.astro";
---

<PageSection>
  <div class="flex justify-center relative">
    <div
      class="absolute left-0 top-0 bottom-0"
      style="border-left: 1px solid rgba(46, 46, 46, 0.043); z-index: -100;"
    >
    </div>
    <div
      class="absolute right-0 top-0 bottom-0"
      style="border-left: 1px solid rgba(46, 46, 46, 0.043); z-index: -100;"
    >
    </div>
    <div class="pb-[--space-3xl] pt-[--space-2xl] w-full">
      <div
        class="flex flex-col-reverse @[50rem]/main:flex-row gap-[--grid-gutter]"
      >
        <div class="basis-1/2 rounded-md overflow-hidden">
          <div class="h-[400px] w-full bg-red-50"></div>
        </div>
        <div
          class="flex basis-1/2 flex-col justify-center px-[--space-xs] @[50rem]/main:pl-0"
        >
          <Tag class="mb-[--space-s]" text="Over mij" />
          <h1 class="heading-6 mb-[--space-s]">
            Hi, ik ben Arno van der Kleij
          </h1>
          <p class="font-0 mb-[--space-m]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore
            tempora facilis voluptatum, obcaecati molestias nesciunt veritatis
            velit voluptates, eveniet illum hic. Assumenda at reiciendis
            corporis minus nam dicta, mollitia facere. Lorem ipsum dolor sit
            amet, consectetur adipisicing elit.
          </p>
          <a class="text_link">Lees meer</a>
        </div>
      </div>
    </div>
  </div>
</PageSection>
