---
import Button from "./Button.astro";
import ColumnLayout from "./Layout/ColumnLayout.astro";
import PageSection from "./Layout/PageSection.astro";
import Tag from "./Tag.astro";
---

<PageSection>
  <div class="background pb-[--space-2xl] pt-[--space-xl]">
    <ColumnLayout>
      <div
        class="flex flex-col grow shrink-0 basis-1/2 a self-center px-[--space-xs] @[55rem]/main:pr-0"
      >
        <Tag class="mb-[--space-s] self-start" text="Digitale oplossingen" />
        <h1 class="heading-6 mb-[--space-m]">
          Data-gedreven inzichten met maatwerk Excel-oplossingen
        </h1>
        <h2 class="font-0 mb-[--space-m] @[60rem]/main:pr-[--space-xl]">
          Als ervaren Excel-expert help ik bedrijven hun processen te
          stroomlijnen met op maat gemaakte oplossingen, zoals geautomatiseerde
          rapportages, financiële analyses en efficiënt voorraadbeheer. Ik zet
          data om in bruikbare inzichten en bespaar jouw tijd.
        </h2>
        <div class="gap-[--space-xs] flex items-center">
          <Button text="Neem contact op" />
          <a class="font--1 font-medium cursor-pointer">Lees meer</a>
        </div>
      </div>
      <div class="flex-grow basis-1/2">
        <div class="h-[32rem] bg-blue-50 opacity-50"></div>
      </div>
    </ColumnLayout>
  </div>
</PageSection>

<style lang="scss">
  .background {
    overflow: hidden;
    background-image: url("https://outgrid.uicore.co/growth-marketing/wp-content/uploads/sites/27/2023/10/Growth-Marketing-Hero-BG.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
