---
import CtaButton from "./CtaButton.astro";
import ColumnLayout from "./Layout/ColumnLayout.astro";
import PageSection from "./Layout/PageSection.astro";
---

<PageSection>
  <div
    class="background pb-[--space-3xl] pt-[--space-l] @[45rem]/main:pt-[--space-xl]"
  >
    <ColumnLayout>
      <div
        class="flex flex-col grow shrink-0 basis-1/2 a self-start px-[--space-xs] @[55rem]/main:pr-0"
      >
        <h1 class="heading-9 mb-[--space-m] @[55rem]/main:mt-[--space-m]">
          Maak data eenvoudig met <span class="text-[#0f7c41]">Excel</span>
        </h1>
        <h2 class="font-0 mb-[--space-m] @[60rem]/main:pr-[--space-xl]">
          Als ervaren Excel-expert help ik bedrijven hun processen te
          stroomlijnen met op maat gemaakte oplossingen, zoals geautomatiseerde
          rapportages, financiële analyses en efficiënt voorraadbeheer. Ik zet
          data om in bruikbare inzichten en bespaar jouw tijd.
        </h2>
        <div class="flex items-center gap-[--space-xs] flex-wrap">
          <CtaButton text="Neem contact op" link="/contact" />
          <CtaButton
            text="Lees meer"
            backgroundColor="--transparent"
            textColor="--color_headline"
            padding={false}
          />
        </div>
      </div>
      <div class="flex-grow basis-1/2 @[55rem]/main:pl-[--space-xl]">
        <div class="h-[30rem] @[55rem]/main:h-[34rem] bg-blue-50 opacity-50">
        </div>
      </div>
    </ColumnLayout>
  </div>
</PageSection>

<style lang="scss">
  .background {
    overflow: hidden;
    background-image: url("https://outgrid.uicore.co/growth-marketing/wp-content/uploads/sites/27/2023/10/Growth-Marketing-Hero-BG.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
