---
interface Props {
  text: string;
  class?: string;
}

const { text, class: _class } = Astro.props;
---

<button
  class=`${_class} font--1 font-semibold py-[--space-3xs] px-[--space-xs] rounded-2xl`
>
  {text}
</button>

<style>
  button {
    color: white;
    background-color: var(--color_headline);
  }
</style>
