---
import HoverArrow from "./HoverArrow.astro";

interface Props {
  text: string;
  class?: string;
  backgroundColor?: string;
  textColor?: string;
  padding?: boolean;
}

const {
  text,
  class: additionalClasses = "",
  backgroundColor = "--color_headline",
  textColor = "--white",
  padding = true,
} = Astro.props;
---

<a
  class={`font--1 cursor-pointer gap-[--space-2xs] font-semibold rounded-2xl
    ${padding ? "padded" : ""} ${additionalClasses}`}
  style={`--bg-color: var(${backgroundColor}); --text-color: var(${textColor});`}
  tabindex="0"
>
  {text}

  <HoverArrow />
</a>

<style>
  a {
    display: inline-flex;
    cursor: pointer;
    align-items: center;

    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    transition: opacity 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  a.padded {
    padding: var(--space-3xs) var(--space-xs);
  }

  a:focus {
    opacity: 0.7;
  }

  a:hover {
    opacity: 0.7;
  }

  a:active {
    opacity: 1;
  }

  a:;
</style>
