---
import PageSection from "./Layout/PageSection.astro";
---

<PageSection>
  <div class="flex flex-col items-center pt-[--space-xl] pb-[--space-2xl]">
    <h1
      class="font-5 !font-semibold mb-[--space-xs] text-center @[50rem]/main:max-w-[50rem]"
    >
      Empower Your Brand Captivating Audiences through Social Media
    </h1>
    <p class="font-0 mb-[--space-l] text-center @[50rem]/main:max-w-[30rem]">
      Our social media marketing services go beyond the surface, delving into
      the heart of your brand’s narrative
    </p>

    <div class="grid grid-cols-4 w-full gap-[--grid-gutter]">
      <div class="border rounded-md bg-white p-[--space-s]">A</div>
      <div class="border rounded=md bg-white p-[--space-s]">b</div>
      <div class="border rounded-md bg-white p-[--space-s]">c</div>
      <div class="border rounded-md bg-white p-[--space-s]">d</div>
    </div>
  </div>
</PageSection>
