---
import CtaButton from "./CtaButton.astro";
import PageSection from "./Layout/PageSection.astro";
import { Icon } from "astro-icon/components";

interface Props {
  displayContactButton?: boolean;
}
const { displayContactButton = true } = Astro.props;
---

<script>
  let displayMenu = false;

  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.querySelector("#menu-button") as HTMLElement;
    const menuContent = document.querySelector("#menu-content") as HTMLElement;
    const body = document.body; // Get the body element

    menuButton?.addEventListener("click", () => {
      displayMenu = !displayMenu;
      if (displayMenu) {
        menuContent.classList.add("open");
        body.classList.add("no-scroll"); // Add class to disable scrolling
      } else {
        menuContent.classList.remove("open");
        body.classList.remove("no-scroll"); // Remove class to re-enable scrolling
      }
    });
  });
</script>

<div id="menu-content" class="menu-content z-10 pt-[--space-xl]">
  <div class="w-full bg-white" style="min-height: 100vh;">
    <a href="./contact">Contact</a>
  </div>
</div>
<PageSection>
  <div class="p-[--space-xs] flex items-center z-20 relative">
    <a href="/">
      <div class="font-1 font-bold mr-[--space-xs]">Logo</div>
    </a>
    <div class="@[45rem]/main:flex hidden">
      <div
        class="py-[--space-2xs] px-[--space-xs] font--1 font-semibold cursor-pointer"
      >
        Diensten
      </div>
      <div
        class="py-[--space-2xs] px-[--space-xs] font--1 font-semibold cursor-pointer"
      >
        Over mij
      </div>
    </div>
    <div class="flex ml-auto items-center">
      <button
        id="menu-button"
        class="@[45rem]/main:hidden px-[--space-xs] py-[--space-2xs] rounded-3xl bg-slate-200 bg-opacity-20"
      >
        <Icon id="menu" name="mdi:menu" size="22" />
      </button>
      {
        displayContactButton && (
          <CtaButton
            class="!hidden @[45rem]/main:!inline-flex"
            text="Neem contact op"
            link="/contact"
          />
        )
      }
    </div>
  </div>
</PageSection>

<style>
  [data-icon="menu"] {
    color: var(--color_headline);
    fill: var(--color_headline);
  }

  #menu-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    transform: translateX(100%);
    opacity: 1;
    visibility: hidden;
    overflow-y: auto;
    transition:
      transform 0.3s ease-in,
      visibility 0s 0.3s;
  }

  #menu-content.open {
    transform: translateX(0);
    visibility: visible;
    transition:
      transform 0.3s ease-out,
      visibility 0s;
  }

  body.no-scroll {
    overflow: hidden;
  }
</style>
