---
import PageSection from "./Layout/PageSection.astro";
import Tag from "./Tag.astro";
---

<PageSection>
  <div class="flex flex-col pt-[--space-xl] pb-[--space-2xl] relative">
    <div
      class="absolute left-0 top-0 bottom-0"
      style="border-left: 1px solid rgba(46, 46, 46, 0.043); z-index: -100;"
    >
    </div>
    <div
      class="absolute right-0 top-0 bottom-0"
      style="border-left: 1px solid rgba(46, 46, 46, 0.043); z-index: -100;"
    >
    </div>
    <div class="px-[--space-xs] @[50rem]/main:pr-0">
      <Tag class="mb-[--space-s]" text="Mijn missie" />
      <h1 class="heading-6 mb-[--space-xs] @[50rem]/main:max-w-[40rem]">
        Eenvoudige oplossingen, krachtige resultaten
      </h1>
      <p class="font-0 mb-[--space-l] @[50rem]/main:max-w-[30rem]">
        Elke onderneming kan profiteren van duidelijke en efficiënte
        Excel-oplossingen. Mijn missie is om ingewikkelde taken eenvoudig te
        maken, zodat u zich kunt focussen op wat echt telt. Ik streef ernaar u
        de tools en kennis te geven om zelfstandig verder te kunnen. Na
        oplevering geef ik heldere uitleg en begeleiding, zodat u moeiteloos het
        beheer van uw oplossingen kunt overnemen.
      </p>
    </div>

    <!-- <div class="grid grid-cols-4 w-full gap-[--grid-gutter]">
      <div class="border rounded-md bg-white p-[--space-s]">
        <h1 class="font-0 font-semibold">
          Persoonlijke aandacht voor elke klant
        </h1>
      </div>
      <div class="border rounded=md bg-white p-[--space-s]">
        <h1 class="font-0 font-semibold">Persoonlijke aandacht</h1>
      </div>
      <div class="border rounded-md bg-white p-[--space-s]">
        Geen verrassingen of verborgen kosten
      </div>
      <div class="border rounded-md bg-white p-[--space-s]">
        Flexibiliteit en snelle ondersteuning
      </div>
    </div> -->
  </div>
</PageSection>
