---
import { Icon } from "astro-icon/components";
import PageSection from "./Layout/PageSection.astro";
---

<PageSection>
  <div class="flex flex-col items-center">
    <h1 class="font--1 mb-[--space-m]">Bedrijven waar ik mee heb gewerkt</h1>
    <div class="grid grid-cols-4 w-full items-center justify-center">
      <Icon name="Damen" size="200" />
      <Icon name="Aerolift" size="100" />
    </div>
  </div>
</PageSection>

<style>
  .radial-gradient {
    background-image: radial-gradient(
      at center center,
      #ffffff00 30%,
      white 75%
    );
  }
</style>
