:root {
  --transition-duration: 0.3s;
  --transition-delay: 0.2s;
}

svg path {
  transition:
    transform var(--transition-duration),
    visibility var(--transition-duration);
  transform-origin: center center;
  transition-delay: var(--transition-delay);
}

svg path.line2,
svg path.line4 {
  transition-delay: 0s;
}

.animate .line1 {
  transform: translateY(200px);
  visibility: hidden;
  transition-delay: 0s;
}

.animate .line3 {
  transform: translateY(-200px);
  visibility: hidden;
  transition-delay: 0s;
}

.animate .line2 {
  transform: rotate(45deg);
  transition-delay: var(--transition-duration);
}
.animate .line4 {
  transform: rotate(-45deg);
  transition-delay: var(--transition-duration);
}
