---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  @use "../../node_modules/utopia-core-scss/src/utopia" as utopia;
  @import "@fontsource-variable/inter";
  :root {
    @include utopia.generateTypeScale(
      (
        "minWidth": 320,
        "maxWidth": 1240,
        "minFontSize": 18,
        "maxFontSize": 20,
        "minTypeScale": 1.2,
        "maxTypeScale": 1.25,
        "positiveSteps": 5,
        "negativeSteps": 2,
        "prefix": "step-",
        "relativeTo": "viewport-width",
      )
    );

    @include utopia.generateSpaceScale(
      (
        "minWidth": 320,
        "maxWidth": 1240,
        "minSize": 18,
        "maxSize": 20,
        "positiveSteps": (
          1.5,
          2,
          3,
          4,
          6,
        ),
        "negativeSteps": (
          0.75,
          0.5,
          0.25,
        ),
        "customSizes": (
          "s-l",
        ),
        "prefix": "space-",
        "relativeTo": "viewport-width",
      )
    );

    --grid-max-width: 77.5rem;
    --grid-gutter: var(
      --space-s-l,
      clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem)
    );
    --grid-columns: 12;
  }

  * {
    font-family: inherit;
  }

  html {
    font-family: "Inter Variable", sans-serif;
  }
</style>
