---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  @use "../../node_modules/utopia-core-scss/src/utopia" as utopia;
  @import "@fontsource-variable/inter";
  @import "@fontsource-variable/cabin";
  @import "@fontsource-variable/inter";
  @import "@fontsource-variable/manrope";
  @import "@fontsource-variable/mulish";
  @import "@fontsource-variable/public-sans";
  @import "@fontsource-variable/rubik";
  :root {
    --color_body: #425466;
    --color_headline: #0a2540;
    --colorExcelGreen: #0f7c41;
    --transparent: transparent;
    --white: #fff;
    --color_link: #635bff;

    --fontFamily: "Manrope Variable", sans-serif;

    @include utopia.generateTypeScale(
      (
        "minWidth": 320,
        "maxWidth": 1240,
        "minFontSize": 17,
        "maxFontSize": 18,
        "minTypeScale": 1.2,
        "maxTypeScale": 1.25,
        "positiveSteps": 6,
        "negativeSteps": 2,
        "prefix": "fontSize-",
        "relativeTo": "container",
      )
    );

    @include utopia.generateSpaceScale(
      (
        "minWidth": 320,
        "maxWidth": 1240,
        "minSize": 18,
        "maxSize": 20,
        "positiveSteps": (
          1.5,
          2,
          3,
          4,
          6,
          10,
        ),
        "negativeSteps": (
          0.75,
          0.5,
          0.25,
          0.125,
          0.08,
        ),
        "customSizes": (
          "s-l",
        ),
        "prefix": "space-",
        "relativeTo": "container",
      )
    );

    --grid-max-width: 80rem;
    --grid-gutter: clamp(2rem, 0.8467rem + 2.3913vw, 2.5rem);

    --grid-columns: 12;
  }

  html {
    font-family: "Manrope Variable", sans-serif;
  }

  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }

  .font-6 {
    font-size: var(--fontSize-6);
    line-height: 1.05;
    font-weight: 800;
    letter-spacing: -0.02px;
    color: var(--color_headline);
  }

  .font-5 {
    font-size: var(--fontSize-5);
    line-height: 1.05;
    font-weight: 800;
    letter-spacing: -0.02px;
    color: var(--color_headline);
  }

  .font-4 {
    font-size: var(--fontSize-4);
    line-height: 1.3;
    font-weight: 700;
    color: var(--color_headline);
  }

  .font-3 {
    font-size: var(--fontSize-3);
    line-height: 1.3;
    font-weight: 500;
    color: var(--color_headline);
  }

  .font-2 {
    font-size: var(--fontSize-2);
    line-height: 1.3;
    font-weight: 500;
    color: var(--color_headline);
  }

  .font-1 {
    font-size: var(--fontSize-1);
    line-height: 1.55;
    color: var(--color_headline);
  }

  .font-0 {
    font-size: var(--fontSize-0);
    line-height: 1.55;
    letter-spacing: 0.01em;
    color: var(--color_body);
  }

  .font--1 {
    font-size: var(--fontSize--1);
    line-height: 1.5;
    color: var(--color_body);
  }

  .text_link {
    font-size: var(--fontSize--1);
    line-height: 1.5;
    color: var(--color_link);
    font-weight: 600;
  }

  .font--2 {
    font-size: var(--step--2);
    line-height: 1.5;
    color: var(--color_body);
  }

  .u-grid {
    display: grid;
    gap: var(--grid-gutter);
  }
</style>
